name: PR check Markdown links

on:
  workflow_dispatch:

  pull_request:
    types: [opened, edited, synchronize, reopened]
    paths:
      - "**.md"

permissions: {}

jobs:
  markdown-link-check:
    name: Broken Links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      - uses: filiph/linkcheck@3.0.0
